/* reset
---------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

a{
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global style
---------------------------------------------------------*/
@font-face {
	font-family: GandhiSans-Regular;
	src: url(../font/GandhiSans-Regular.otf);
}

body{
	font-family: GandhiSans-Regular, serif;
	background: #f3f3f3;
}

h1 { margin: 0em 0em .5em 0em; font-size: 3em; font-weight: normal; }
h2 { font-size: 2.5em; margin: 0em 0em 1em 0em; }
h3 { font-size: 1.5em; margin: 0em 0em 1em 0em; }

p  {font-size:1em; margin: 0px 0px .75em 0px;}

.main{
	position: relative;
	margin-left: 200px;
	height: 100%;
	
}

.left-side-screen{
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #2b2b2b;
	text-align: center;
}

.container{
	width: 80%;
	margin:auto;
}

.clear{
	clear: both;
}

b{
	font-weight: 900;
	font-size: 1.05em;
}

i{
	font-style:italic;
}

/* Right side Main Sections
---------------------------------------------------------*/
.main{
	color: #333333;
	margin-top: 50px;
}

.main h1{
	color: #333333;
	text-align: center;
	font-size: 2em;
}


/* Left side navigation bar
---------------------------------------------------------*/


.profile-photo{
	margin: 40px 0 10px 0;
	border-radius: 50%;
	width: 120px;
	color: #00a087;
}

.name-title{
	font-size: 2em;
	color: #fff;
}

nav{
	margin-top: 70px;
	font-size: 1.3em;
	width: 100%;
	z-index: 3;
	width: 100%;
}

nav li{
	padding: 0 0 0 10px;
	width: 100%;
	margin: 0;
	display: block;
	position: relative;
	text-align: left;
}


nav a{
	color: #808080;
	padding: 15px 0;
	display:block;
	margin: 0;
}

nav li:hover, nav li a:hover{
	background-color: #363636;	
	color: #fff;
	overflow:hidden;
	width: 190px;
}

.current a{
	color: #fff;
}

.fa-cog {
  color: #2C303C;
}

.social-media{
	position: absolute;
	bottom: 50px;
	left:25px;

}

.social-media li{
	margin: 8px;
	display: inline;
	opacity: 0.8;
}

/* footer section
---------------------------------------------------------*/
footer{
	padding-left: 10px;
	padding-right: 10px;

	padding-top:100px;
	color:#ddd;

}

.update{
	float: right;
}

#footer-bk{
	background-color:#f3f9fc !important;
}


/* biography section
---------------------------------------------------------*/
.about-me{
	padding-bottom: 350px;

}
.interest{
	position: absolute;	
	width:25%;
}

.biography-text{
	float: right;
	width: 65%;
}

.about-me h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.about-me h2{
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
	text-align: center;
}

.about-me ul{
	padding-top: 5px;
	width: 70%;
	margin: 0 auto;

}

.about-me li{
	display: block;
	font-size: 1em;
	background-color: #fff;
	margin: 10px 0;

	border-left: 6px solid #99cc66;
	padding: 10px;

}

.biography-text p{
	font-size: 1em;
	line-height: 2em;
}




/* Recent works section
---------------------------------------------------------*/
.recent-works{
	background-color:  #f3f9fc;
	padding:20px 0 150px 0;
	
}
.recent-works h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.recent-works ul{

	margin:50px 0 0 50px;
	overflow:hidden;
	width: 100%;
} 

.recent-works li{

	float:left;
	padding:4px 8px;
	width:30%;

}


.recent-works img{
	border-radius: 10%;
	border:3px solid #555555;
	display:block;

}

.recent-works a{
	position:absolute;

}
.photo img:hover{
	border:3px solid #FFFFFF;
	border-radius: 10%;
	display:block;
}

.photo a span{
	display: none;
}
.photo a:hover span{
	width:100%;
	height: 100%;
	background:#000;
	display:block;
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	filter:alpha(opacity=50);
	-moz-opacity:0.6;
	opacity:0.6;
	text-align:center;
	border-radius: 10%;
}
.word{
	position: absolute;
	top: 50px;
	left: 15px;

}

/* Publications page 
---------------------------------------------------------*/
#pub-main{
	background-color: #fff;
}
.container-pub{
	width: 90%;
	margin: auto;
}

ul.timeline {
	list-style-type: none;
	background: url("../images/version_line-green-small.jpg") repeat-y scroll 123px 0 transparent;
	margin: 50px 0;
	padding: 0;
}

ul.timeline li {
	position: relative;
	margin-bottom: 20px;
}
ul.timeline li .time {
	position: absolute;
	width: 90px;
	font-size: 1.5em;
	text-align: right;
	left: 0;
	top: 10px;
	color: #808080;
}
ul.timeline li .conference {
	position: absolute;
	width: 290px;
	text-align: right;
	left: -200px;
	top: 30px;
	font-size: 0.8em;
	line-height: 30px;
	color: #999;
	overflow: hidden;
}
ul.timeline li .number {
	position: absolute;
	background: url("../images/version_dot-green-small.png") no-repeat scroll 0 0 transparent;
	width: 30px;
	height: 30px;
	left: 111px;
	line-height: 30px;
	text-align: center;
	color: #ccc;
	font-size: 18px;
}
ul.timeline li.alt .number {
	background-image: url("../images/version_dot_alt-green-small.png");
}
ul.timeline li .content {
	margin-left: 180px;
	
}
ul.timeline li .content .pre {
	background-color: #d9d9d9;
	padding: 20px;
	color: #333333;
	font-size: 0.8em;
	line-height: 1em;
	height: 100px;
}


ul.timeline li .content .pre .pub-description{
	float: right;
	width: 70%;
}

ul.timeline li .content .pre .pub-description h3{
	font-weight: bold;
	line-height: 1.1em;
	font-size: 1.35em;
}

ul.timeline li .content .pre .pub-description p{
	line-height: 1em;
	font-size: 1em;
}

ul.timeline li .content .pre .pub-description a:hover{
	color:#009933;
	text-decoration: underline;
}

ul.timeline li .content .pre .pub-description a:link, .pub-description a:visited{
	color:#3366ff;
}



ul.timeline li .content .pre .pub-image{
	float: left;
	width: 25%;
	border: 2px solid #555;
}


ul.timeline li .content .pre .pub-description .link-icon{
	padding: 3px;
	border-radius: 15%;
	position: absolute;
	bottom: 10px;
	right: 30px;
	width: 30px;
}


.link-icon:hover{
	background: #99cc66;
}

/* personal section
---------------------------------------------------------*/
.personal-section img{
	position: absolute;
	width:25%;
	opacity: 0.2;
}

.personal-text{
	float: left;
	width: 65%;
}

.personal-text h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.personal-text p{
	font-size: 1em;
	line-height: 2em;
}

/* Education section 
---------------------------------------------------------*/
.education h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}



.education{
	text-align:  center;
	margin-bottom: 40px;
	margin-top: 60px;
	padding: 80px 0;
	background-color:  #f3f9fc;
}

.education-description{
	width: 50%;
	margin: auto;
	margin-top: 50px;
}

.to{
	background-color: #03cc85;
	padding: 12px 10px 9px 10px;
	color: #fff;
	font-size: 1em;
	margin-bottom: 0;
}

.from{
	background-color: #03bb7a;
	padding: 12px 10px 9px 10px;
	color: #fff;
	font-size: 1em;
	margin-top: 0;
}

.degree{
	text-align: left;
	margin-left: 15px;
	font-size: 1em;
}

.school{
	text-align: left;
	margin-left: 15px;
	font-size: 1em;
	color: #888;
}

.school a:link, .school a:visited{
	color:#3366ff;
}


.school a:hover{
	color:#009933;
	text-decoration: underline;
}



/* Award section 
---------------------------------------------------------*/
.award h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	vertical-align: center;

}

.award-description-left{
	float: left;
	width: 50%;
	margin-top: 20px;
}

.award-description-right{
	float: right;
	width: 50%;
	margin-top: 20px;
}
.award li{
	vertical-align: center;
	height: 40px;
	position: relative;
}

.award-date{
	background-color: #03cc85;
	padding: 12px 10px 9px 10px;
	color: #fff;
	width:40px;
	position: absolute;
	font-size: 1em;
}

.award-data{
	line-height: 1em;
	font-size: 1em;
	text-align: left;
	margin-left:70px;
	padding-top: 10px;
	
}

.award-description-bottom{
	position: relative;
	margin-top: 10px;

}

.award-date-bottom-one, .award-date-bottom-two{

	padding: 12px 10px 9px 10px;
	color: #fff;
	width:40px;
	margin:-2px;
	display: inline-block;
	font-size: 1em;
	float: left;

}

.award-date-bottom-one{
	background-color: #03cc85;
}

.award-date-bottom-two{
	background-color: #03bb7a;
}

.award-data-bottom{
	margin: 0 0 100px 235px;
	padding-top: 10px;
}

/* Contact section
---------------------------------------------------------*/
.contact-section{
	padding: 100px 0;
	background-color:  #f3f9fc;
}

.contact-section h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	vertical-align: center;

}


.contact-infor{

	margin:0 auto;
	overflow:hidden;
	width: 100%;
}

.contact-infor li{

	float:left;
	width:30%;
	margin: 0 10px;
	height: 180px;
	color: #666;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border-radius: 5%;

}

.contact-infor img{

	display: block;
	position: relative;
	top: 30px;
	left: 100px;



}

.contact-infor span{
	display: block;
	position: relative;
	top:40px;

}