html {
    overflow-y: scroll;
}

/** global **/
body {
	margin:0px auto;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333;
	background:#fff url('images/body-bg.jpg') repeat-x;
}
* {
	margin:0;
	padding:0;
}


/** element defaults **/
p {
	line-height:1.9em;
	margin-bottom:20px;
}

h1 {
	font-size:45px;
	font-family:Arial, Helvetica, sans-serif;
}
h2 {
	color:#061C41;
	font-family:Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	padding-top:10px;	
	padding-bottom:20px;
}
h3 {
	font-family:Arial,Helvetica,sans-serif;
	color:#202020;
	font-size:20px;
	padding-top:20px;	
	padding-bottom:10px;
}
h4 {
	font-family:Arial,Helvetica,sans-serif;
	padding-bottom:10px;
	font-size:15px;
	color:#666;
}

h4 a{
	color:#0C3A85;
	text-decoration:inherit;
}

h5 {
	padding-bottom:10px;
	font-size:13px;
	color:#666666;
}
ul, ol {
	margin:5px 0 0 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	width:1024px;
	margin:0px auto;
	padding:0;
}


/** sitename **/
div#sitename h1 {
	color:#fff;
	font-size:36px;
	letter-spacing:0px;
	margin:0;
	height:48px;
	padding:12px 0 0;
}

/** header **/
div#header {
	padding:41px 0 40px;
	margin:0 auto;
	height:40px;
	background:transparent url('images/header-bg.jpg') no-repeat;
}
div#header h2 {
	color:#ffffff;
	padding-bottom:0;
	font-weight:normal;
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size:24px;
	letter-spacing:0;
}
div#header div.tagline {
	color:#C2D7F9;
	font-size:14px;
	padding-bottom:10px;
	font-family:Arial,Helvetica,sans-serif;
}
div#header div.tagline a {
	color:#ffffff;
}


/** body **/
div#body {
	padding:10px 0;
	background:#fff;
}

/** content+sidebar styles **/
div#sidebar {
	width:180px;
}

div.column-left {
	float:left;
	margin-right:10px;
}

div#content {
	width:800px;
}

div.column-right {
	float:right;
	text-align:justify;
}

div#sidebar ul {
	margin:0;
	padding:0;
	list-style:none;
}
div#sidebar li ul {
	margin-bottom:20px;
	width:168px;
}
div#sidebar li ul li {
	display:block;
	padding:12px 10px;
	border-bottom:1px solid #ddd;
	color:#777;
}
div#sidebar li ul li a {
	color:#333;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
}
div#sidebar li ul li a:hover {
	color:#09285E;
	text-decoration:underline;
}


div#sidebar li ul.blocklist li {
	padding:0;
}
div#sidebar li ul.blocklist li.selected-item  {
	border-bottom:none;
}
div#sidebar li ul.blocklist li.selected-item a {
	color:#fff;
	font-weight:bold;
	background:transparent url('images/item-selected.jpg') no-repeat;
}
div#sidebar li ul.blocklist li.selected-item a:hover {
	text-decoration:none;
}
div#sidebar li ul.blocklist li a {
	color:#666;
	width:260px;
	display:block;
	padding:13px 10px;
}

div#sidebar h4 { 
	color:#0C367E;
	font-family:arial;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
}



/** footer **/
div#footer {
	padding:20px 20px;
	color:#fff;
	border-top:1px solid #ccc;
}
div#footer p {
	color:#666;
	margin:0;
	font-size:11px;
	width:50%;
}
div#footer p.left { float:left; }
div#footer p.right {
	color:#EEE;
	float:right; 
	text-align:right; 
}
div#footer p a {
	color:#EEE;
	font-weight:bold;
	text-decoration:none;
}



/** clear fix **/
.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	display: inline-block;
}
.clear {
	display: block;
}

/** images **/

div#sidebar img {	
	border:none;
	float: bottom; 
	padding:2px;
	margin:0px 0px 10px 10px;
}

div#content img {	
	padding:2px;
	border:5px solid #CCD;
	margin:0px 30px 0px 30px;
}

/** publication**/
div.year{
	clear:left;
}

div.year h3{
	color:#808080;
}

div.paper{
	clear:left;
	height:150px;
}

div.paper p{
	font-family:Arial,Helvetica,sans-serif;
	color:#0D357B;
	margin-bottom:0px;
}

span.title{
	font-size:16px;
	font-weight:700;
}

img.pub {	
	padding:2px;
	border:5px solid #CCD;
	margin:0px 30px 0px 30px;
	float: left;
	width: 150px;
}


